:root {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F4F0;
  height: 327.9rem;
}

#page {
  margin: 0 auto;
  margin-top: 5.8rem;
  margin-bottom: 5.8rem;
  width: 100%;
  max-width: 112rem;
  height: 301rem;
}

.headline {
  color: #E5245E;
  text-transform: uppercase;
}

.headline, h1, h2, h3 {
  font-weight: bold;
}

.headline, p {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.6rem;
}

header .title {
  margin-bottom: 4rem;
}
header img {
  margin-bottom: 2.4rem;
}
header p {
  text-align: center;
}

#subtitle {
  font-style: italic;
}

#couples {
  color: #591B98;
}

#families {
  color: #E5245E;
}

#budget {
  color: #E95E10;
}

main {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 6.4rem;
}
main .title-main {
  margin-bottom: 6.4rem;
}
main .title {
  margin-bottom: 0.8rem;
}

h2 {
  font-size: 3.2rem;
}

.card-travel .content {
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}
.card-travel img {
  width: 100%;
  max-height: 35rem;
}
.card-travel h3 {
  font-size: 2.8rem;
  margin-bottom: 0.4rem;
}
.card-travel span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2rem;
}
.card-travel ul {
  list-style-position: inside;
  font-size: 1.6rem;
  font-weight: bold;
}
.card-travel ul li {
  color: #0C51A7;
}

footer {
  text-align: center;
}

img {
  max-width: 112rem;
  border-radius: 2.8rem;
  object-fit: cover;
}