$bg-default: #F5F4F0;
$border-primary: #D9D9D9;

$txt-primary:#1B1B1B;
$txt-secondary: #333333;
$txt-tertiary: #696969;
$txt-headline: #E1624F;

$accent-blue: #0C51A7;
$accent-orange: #E95E10;
$accent-pink: #E5245E;
$accent-purple: #591B98;
